version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    env_file:
      - .env
    volumes:
      # Mounts a named volume to persist the SQLite DB and config.json
      - butterfly_data:/app

# Defines the named volume for data persistence
volumes:
  butterfly_data: